[flake8]
max-line-length = 119
ignore = 
    W503, E203, E231    # conflicts with `black` formatting
    E402                # from headless matplotlib use
per-file-ignores = __init__.py: F401
exclude = .git, cfg/, .eggs/, extern/